.myui-video-text-mask {
  --mask-scale: 1;

  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;

  &__scroll-area {
    position: relative;
    z-index: 0;
    width: 100%;
    background: transparent;
  }

  &__video {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    display: block;

    transform-origin: 50% 50%;
    transform: scale(var(--mask-scale));
    will-change: transform;
  }

  &__overlay-rect {
    fill: #fff;
  }
}
